<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        {{>header}}

        <p>Page not found, 404 Error.</p>

        {{>footer}}

    </body>


</html>